# Ignore everything in subprojects/
*

# Keep wrap files and locks
!*.wrap

# Keep packagefiles folder and its contents
!packagefiles/
!packagefiles/**

# Keep this .gitignore file
!.gitignore

#Keep non wrap
!rapidHash/
!rapidHash/**
