BasedOnStyle: LLVM

NamespaceIndentation: All
ColumnLimit:     120


# Includes are sorted into blocks, separated by an empty line:
# own header, Catch2, standard library, third party, project.
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<catch2/'
    Priority: 1
  - Regex: '^<[a-z_]+>$'
    Priority: 2
  - Regex: '^<'
    Priority: 3
  - Regex: '^"(ankerl|entt|glm|mimalloc|pfr|rapidhash|simdutf|spdlog|xsimd)'
    Priority: 3
  - Regex: '^"'
    Priority: 4
